@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6, button, Link {
    font-family: 'Cowboys';
  }
  p, span {
    font-family: 'Duality';
  }
}

@font-face {
  font-family: 'Duality';
  src: local('Duality-Regular'),
      url('assets/fonts/duality/Duality-Regular.woff2') format('woff2'),
      url('assets/fonts/duality/Duality-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WideSaloon';
  src: local('WideSaloon'),
      url('assets/fonts/widesaloon/WideSaloon.woff2') format('woff2'),
      url('assets/fonts/widesaloon/WideSaloon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cowboys';
  src: url('assets/fonts/Cowboys20/Cowboys20.woff2') format('woff2'),
      url('assets/fonts/Cowboys20/Cowboys20.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.navbar .navlink.active{
  position: relative;
  text-decoration: underline;
}

.navbar .navlink.active::after{
  position: absolute;
  content: '';
  top: calc(100% + 2px);
  left: 50%;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-image: url(./assets/imgs/star-min.png);
  transform: translateX(-50%);
  background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
  .navbar .navlink.active::after{
    width: 15px;
    height: 15px;
  }
}


.react-select-container{
  width: 100%;
  color: #fff;
  /* height: 64px; */
}

.indicator{
  padding: 0 !important;
  background-color: transparent !important;
}